name: Deploy NodeJS Application to Azure

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy Via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: azureuser
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /home/azureuser/nodejs-application-deploy-github-actions
            git pull
            docker compose up -d --build